body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #adebe9; /* Default background color */
  }
  
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    width: 400px;
    height: 300px; 
    perspective: 1000px;
    margin: 10px;
    cursor: pointer;
  }
  
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .card-front {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 68px;
    font-weight: bold;
    border-radius: 10px;
  }
  
  .card-back {
    background-color: #e0e0e0;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 68px;
    font-weight: bold;
    border-radius: 10px;
  }
  
  .flipped .card-front {
    transform: rotateY(-180deg);
  }
  
  .flipped .card-back {
    transform: rotateY(0deg);
  }
  